<!-- launch file -->

<launch>
    <node pkg="offboard_control" type="droneCore.py" name="droneCore" output="screen"></node>
    <node pkg="offboard_control" type="messageControl.py" name="messageControl" output="screen"></node>
    <node pkg="offboard_control" type="groundControlNode.py" name="keypressNode"> </node>
    <node pkg="offboard_control" type="loiterPilot.py" name="loiterPilot" output="screen"></node>
</launch>
