<!-- launch file -->

<launch>
    <node pkg="offboard_control" type="droneCore.py" name="droneCore"></node>
    <node pkg="offboard_control" type="messageControl.py" name="messageControl" launch-prefix="gnome-terminal --command" ></node>
    <node pkg="offboard_control" type="groundControlNode.py" name="keypressNode"> </node>
    <node pkg="offboard_control" type="loiterPilot.py" name="loiterPilot"></node>
</launch>
