# LaTeX

# Exclude the following 
*-blx.bib
*.log
*.bbl
*.blg
*.aux
*.out
*.xml
!package.xml
*.toc
*.synctex.gz
*.bak
*.pdf
__pycache__
*~
*.pyc
*.swp
!Report.pdf

#ROS enviroment
software/ros_workspace/build*
software/ros_workspace/devel*
software/ros_workspace/logs*
software/ros_workspace/.catkin_tools*

# Exceptions
!.pdf

