# LaTeX

# Exclude the following 
*-blx.bib
*.log
*.bbl
*.blg
*.aux
*.out
*.xml
!package.xml
*.toc
*.synctex.gz
*.bak
*.pdf
__pycache__
*~
*.pyc
*.swp
*.pdf
*.pytxcode
*.pygtex

#!.png

#Include PDFs in litterature
!literature/*
!master_report/Head/report.pdf

#ROS enviroment
/pythontex-files-results/*
software/ros_workspace/build*
software/ros_workspace/devel*
software/ros_workspace/logs*
software/ros_workspace/.catkin_tools*
data/analyse_vision_navigation_pose_estimation/*
master_report/Head/_minted-report/*
master_report/Sections/_minted-results/*
