<?xml version="1.0"?>

<model>
  <name>Wall with aruco markers and board</name>
  <version>1.0</version>
  
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Kenni Nilsson</name>
    <email>kenil16@student.sdu.dk</email>
  </author>

  <description>
    Aruco marker track for the drone
  </description>
</model>
