<?xml version="1.0"?>

<model>
  <name>OptiTrack Prime camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jes Jepsen</name>
    <email>jegj@mmmi.sdu.dk</email>
  </author>

  <description>
    Prime Camera for the OptiTrack setup
  </description>
</model>
