<?xml version="1.0"?>

<model>
  <name>SDU Drone</name>
  <version>1.0</version>
  <sdf version="1.6">sdu_drone_lidar.sdf</sdf>

  <author>
    <name>Jes Jepsen</name>
    <email>jegj@mmmi.sdu.dk</email>
  </author>


  <maintainer email="jegj@mmmi.sdu.dk">Jes Jepsen</maintainer>


  <description>
    A model of the SDU Drone
  </description>
</model>
